<div class="container">
<br>
<h3 id="class-title"> <%= @classroom.name%> Dashboard</h3> <%= link_to "Back to classrooms", "/classrooms" %>
<br>
<br>

<%= link_to "test", "https://attendance-turnout-dev.s3.amazonaws.com/hey/1/04-27-2020.jpg"%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">University ID</th>
      <th scope="col">Uploaded photo?</th>
      <th scope="col">Edit student</th>
      <th scope="col">Remove student</th>
    </tr>
  </thead>
  <tbody>
  	<% counter = 1 %>
  	<% @students.each do |student| %>
    <tr>
      <th scope="row"><%= counter %></th>
      <td><%= student.name.upcase %></td>
      <td><%= student.university_id %></td>
      <td><strong><%= student.did_upload_photo %>:</strong> <%= link_to "Upload photo", "/uploads/new/#{student.id}" %></td>
      <td><%= link_to "Edit" %></td>
      <td><%= link_to "Delete", "/students/#{student.id}", method: "delete" %></td>
    </tr>
    <% counter += 1 %>
    <% end %>
  </tbody>
</table>
<%= button_to "Add attendance photo", "/attendance_uploads/new", method: "get"%>
<%= button_to "Add student", "/students/new", method: "get" %>
<br>

<% if flash[:attendance_image_success] %>

  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully uploaded your lecture snapshot. Expect to receive an email in the next 24 hours, indicating that attendance grades have been entered into the Google Spreadsheet associated with this classroom.</p>
    <hr>
    <p class="mb-0">Reminder: If there is an attendance dispute, you can go back and inspect the image you uploaded and manually check if the student was in lecture.</p>
  </div>

<% end %>

<% if flash[:attendance_image_error] %>

  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Oops!</h4>
    <p>Well, this sure is embarrassing... It looks like there was an error uploading your lecture snapshot. Please come back and try again later. Thank you.</p>
  </div>

<% end %>

<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Attendance</h5>
    <h6 class="card-subtitle mb-2 text-muted">Simply upload a photo of your lecture's audience, and let us do the grading.
    </h6>


    content content <br>
     content content <br>
      content content <br>
       content content <br><br>

    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Add new lecture photo</h5>
    


<%= form_tag "/attendance_uploads/#{@classroom.id}", enctype: 'multipart/form-data' do %>
<%= label_tag(:date, "Date:") %>
<%= text_field_tag :date, "", class: "datepicker" %> <br>
<%= label_tag(:file, "Image:") %>
  <%= file_field_tag :file  %>
  <br><br>
  <%= submit_tag 'GRADE MY CLASS!' %>
<% end %>

  </div>
</div>
  </div>
</div>
</div>

<br>

</div>