<div class="container">
<br>
<h3> <%= @classroom.name%> </h3>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">University ID</th>
      <th scope="col">Uploaded photo?</th>
      <th scope="col">Edit student</th>
      <th scope="col">Remove student</th>
    </tr>
  </thead>
  <tbody>
  	<% counter = 1 %>
  	<% @students.each do |student| %>
    <tr>
      <th scope="row"><%= counter %></th>
      <td><%= student.name.upcase %></td>
      <td><%= student.university_id %></td>
      <td><strong><%= student.did_upload_photo %>:</strong> <%= link_to "Upload photo" %></td>
      <td><%= link_to "Edit" %></td>
      <td><%= link_to "Delete", "/students/#{student.id}", method: "delete" %></td>
    </tr>
    <% counter += 1 %>
    <% end %>
  </tbody>
</table>

<%= button_to "Add student", "/students/new", method: "get" %>
<br>
<%= button_to "Back to classrooms", "/classrooms", method: "get" %>

</div>