<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Turnout</title>
	  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag 'bootstrap/css/bootstrap' %>

  <!-- Custom fonts for this template -->
  <%= stylesheet_link_tag 'fontawesome-free/css/all.min.css' %>
  <%= stylesheet_link_tag 'simple-line-icons/css/simple-line-icons.css' %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Bootstrap core JavaScript -->
  <%= javascript_include_tag 'jquery/jquery.min' %>
  <%= javascript_include_tag 'bootstrap/js/bootstrap.bundle.min' %>

  <!-- Plugin JavaScript -->
  <%= javascript_include_tag 'jquery-easing/jquery.easing.min' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>

<%= yield %>

</body>
</html>
